@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  main {
    section {
      @apply px-4 sm:px-20;
    }
  }

  footer {
    @apply px-4 sm:px-20;
  }

  ul {
    @apply list-none;
  }

  // https://stackoverflow.com/questions/7117073/add-a-tooltip-to-a-div
  [data-tooltip]::before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    @apply rounded;
  }

  [data-tooltip]:hover::before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: black;
    margin-top: -35px;
    margin-left: 15px;
  }

  [data-tooltip]:not([data-tooltip-persistent])::before {
    pointer-events: none;
  }
}
